[Desktop Entry]
Type=Application
Name=Pointer calibration
Comment=Calibrate the Waynergy pointer indicator
Exec=/usr/bin/qmlscene /usr/share/sailfish-deskflow-setup/Calibrator.qml
Icon=icon-m-pointer
X-Nemo-Application-Type=generic
Categories=Settings;
